{{ $currentPage := . }}
{{ range .Site.Menus.main }}
<div class="nav-link">
    {{ if $currentPage.IsMenuCurrent .Menu . }}
        <a class="active" href="#" {{- if .Params.NewPage -}}target="_blank"{{- end -}}>
            {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
        </a>
    {{ else }}
        <a href="{{ .URL | absURL }}" {{- if .Params.NewPage -}}target="_blank"{{- end -}}>
            {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
        </a>
    {{ end }}
</div>
{{ end }}