<div class="post container">

    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
    </div>

    <div class="post-content">
        {{ .Content }}
    </div>

    {{ if and (isset .Site.Params "socialicons") .Params.showSocial }}
    <div class="social-icons">
        <ul class="social-icons-list">
            {{ range .Site.Params.SocialIcons }}
            <li class="social-icon">
                <a href="{{ .url }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} aria-label="Learn more on {{ .name }}">
                    <img class="svg-inject" src="/svg/icons/{{ .name }}.svg" alt="">
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>

